.bfFyKJ {
    box-sizing: border-box;
    width: 375px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 16px;
    padding: 4px 24px 24px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    background: rgb(255, 255, 255);
}

.fGdgSP {
    display: flex;
    flex-direction: column;
}

.jUTZMG {
    position: relative;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.bfFyKJ .kirk-textField-wrapper {
    padding-top: 4px;
}

.bfFyKJ .kirk-textField-wrapper {
    background: transparent !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.jUTZMG .kirk-textField-wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    color: rgb(5, 71, 82);
    background-color: rgb(237, 237, 237);
    border-radius: 16px;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: none;
}

.bfFyKJ .kirk-textField-wrapper .kirk-autoComplete-icon {
    padding: 0px;
    height: auto;
    display: flex;
    margin-right: 8px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.fzalHo.kirk-bullet--search {
    border-width: 4px;
    border-color: rgb(112, 140, 145);
}

.fzalHo.kirk-bullet--search {
    width: 18px;
    height: 18px;
}

.fzalHo.kirk-bullet--map-active, .fzalHo.kirk-bullet--map-inactive, .fzalHo.kirk-bullet--search {
    border-width: 3px;
}

.fzalHo {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(5, 71, 82);
    border-radius: 50%;
}

.bfFyKJ .kirk-textField-wrapper input {
    font-size: 18px;
    line-height: 20px;
    background: transparent;
    border-radius: 0px;
}

.jUTZMG input[type="number"], .jUTZMG input[type="search"] {
    box-shadow: none;
}

.jUTZMG input[type="search"] {
    width: 100%;
    box-sizing: border-box;
}

.jUTZMG input:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
}

.fGdgSP input[type="search"] {
    appearance: textfield;
    box-sizing: content-box;
}

.jUTZMG input {
    padding-right: 0px;
    font-family: inherit;
    margin-right: 48px;
}

.jUTZMG input {
    appearance: none;
    border: 0px;
    border-radius: 16px;
    background-color: rgb(237, 237, 237);
    color: rgb(5, 71, 82);
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    caret-color: rgb(0, 175, 245);
    padding: 16px;
}
